[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
watchPatterns = ["app/packages/api/**", "app/packages/shared-types/**"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
