[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
watchPatterns = ["app/packages/web-app/**", "app/packages/shared-types/**", "app/packages/api/prisma/**"]

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
